analyse/__pycache__/HSL.cpython-312.pyc
analyse/__pycache__/output_to_csv.cpython-312.pyc
analyse/__pycache__/views.cpython-312.pyc
analyse/uploads/topaz_steen.PNG

analyse/uploads/remove.bg.csv
analyse/uploads/Blauwe_Topaz-6432-removebg-preview.png
