analyse/__pycache__/HSL.cpython-312.pyc
analyse/__pycache__/output_to_csv.cpython-312.pyc
analyse/__pycache__/views.cpython-312.pyc
analyse/uploads/topaz_steen.PNG

analyse/uploads/remove.bg.csv
analyse/uploads/Blauwe_Topaz-6432-removebg-preview.png
analyse/__pycache__/HSL.cpython-311.pyc
analyse/__pycache__/views.cpython-311.pyc
analyse/uploads/Blauwe_Topaz-6429-result.png
analyse/uploads/Blauwe_Topaz-6429.jpg
wordpress-vision-api-v2.json
wordpress-vision-api-v2.json
wordpress-vision-api-v2.json
